@mixin transform($value...) {
    -webkit-transform: $value;
    -moz-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
    transform: $value;
}
@mixin origin($value...) {
    -webkit-transform-origin: $value;
    -moz-transform-origin: $value;
    -o-transform-origin: $value;
    transform-origin: $value;
}
@mixin transition($value...) {
    -webkit-transition: $value;
    -moz-transition: $value;
    -o-transition: $value;
    transition: $value;
}
@mixin blur($value) {
    -webkit-filter: blur($value);
    filter: blur($value);
}
@mixin transDelay($value) {
    -webkit-transition-delay: $value;
    -moz-transition-delay: $value;
    -o-transition-delay: $value;
    transition: $value;
}
@mixin bgSize ($value...) {
    -webkit-background-size: $value;
    -moz-background-size: $value;
    -o-background-size: $value;
    background-size: $value;
}
@mixin animation($value...) {
    -webkit-animation: $value;
    -moz-animation: $value;
    -o-animation: $value;
    animation: $value;
}
@mixin borderBox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin boxShadow ($value...) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    box-shadow: $value;
}
@mixin radius ($value...) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
}
@mixin keyframes($value...) {
    @-webkit-keyframes #{$value} {
        @content;
    }
    @-moz-keyframes #{$value} {
        @content;
    }
    @keyframes #{$value} {
        @content;
    }
}