@charset "UTF-8";
@font-face {
  font-family: DOSm;
  font-weight: 400;
  src: url(../fonts/DOSMyungjo.eot);
  src: local("★"), url(../fonts/DOSMyungjo.woff) format("woff"), url(../fonts/DOSMyungjo.ttf) format("truetype"); }
/* tag reset */
body, h1, h2, h3, h4, ul, p {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4 {
  font-size: 100%;
  font-weight: 400; }

ul {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit; }

img {
  vertical-align: top;
  border: none;
  max-width: 100%; }

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

header, nav, section, footer {
  display: block; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.sr-only {
  position: absolute;
  top: 0;
  left: -9999px; }

body {
  font-family: DOSm;
  font-size: 20px;
  line-height: 1.5;
  color: #ededed;
  word-break: keep-all; }

/* common */
#skip a {
  position: absolute;
  top: 0;
  left: -9999px;
  z-index: 3000; }

#skip a:focus {
  left: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #99CC66;
  color: #000;
  font-size: 25px; }

#header #hamburger {
  position: fixed;
  top: 35px;
  left: 35px;
  width: 43px;
  height: 50px;
  z-index: 2000; }
  #header #hamburger:focus {
    outline: 2px solid #ffbb00; }
  #header #hamburger .line {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
    position: absolute;
    width: 100%;
    height: 5px;
    background: #333;
    left: 0; }
    #header #hamburger .line.top {
      top: 7.5px; }
    #header #hamburger .line.mid {
      top: 22.5px; }
    #header #hamburger .line.btm {
      top: 37.5px; }
  #header #hamburger.addon .line {
    background: #fff; }
  #header #hamburger.addon .top {
    -webkit-transform: scaleY(1.5);
    -moz-transform: scaleY(1.5);
    -o-transform: scaleY(1.5);
    -ms-transform: scaleY(1.5);
    transform: scaleY(1.5);
    top: 22.5px; }
  #header #hamburger.addon .mid {
    opacity: 0; }
  #header #hamburger.addon .btm {
    -webkit-transform: scaleY(1.7);
    -moz-transform: scaleY(1.7);
    -o-transform: scaleY(1.7);
    -ms-transform: scaleY(1.7);
    transform: scaleY(1.7);
    top: 22.5px; }
  #header #hamburger.ham_bg {
    background: #2e2e2e; }
    #header #hamburger.ham_bg .line {
      background: #fff; }
  #header #hamburger.ham_bg.addon {
    background: none; }
#header .return_home {
  -webkit-border-radius: 0 0 10px 0;
  -moz-border-radius: 0 0 10px 0;
  border-radius: 0 0 10px 0;
  position: fixed;
  top: 35px;
  left: 78px;
  width: 200px;
  height: 50px;
  background: #2e2e2e;
  text-align: center;
  color: #fff;
  font-size: 35px;
  line-height: 50px;
  z-index: 2000; }
  #header .return_home:focus {
    outline: 2px solid #ffbb00; }
  #header .return_home.addon {
    display: none; }
  #header .return_home:hover:after, #header .return_home:focus:after {
    -webkit-border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
    border-radius: 0 0 10px 0;
    content: "HOME";
    position: absolute;
    top: 0;
    left: 0;
    background: #2e2e2e;
    color: #ffbb00;
    width: 100%;
    height: 100%; }
#header #gnb {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 1995; }
  #header #gnb .gnb_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5; }
  #header #gnb .gnb_window {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background: url(../images/common/window.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }
  #header #gnb.window_on .gnb_window {
    background-image: url(../images/common/window_non.png); }
  #header #gnb > ul {
    position: relative;
    width: 100%;
    height: 100%;
    color: #2e2e2e;
    line-height: 2;
    text-align: center; }
    #header #gnb > ul > li {
      position: absolute;
      top: 40%;
      width: 70px;
      height: 70px; }
      #header #gnb > ul > li a {
        width: 100%;
        height: 100%;
        background: no-repeat top center;
        padding-top: 55px; }
        #header #gnb > ul > li a:focus {
          outline: 2px solid #99CC66; }
    #header #gnb > ul > li:nth-child(1) {
      left: 40%; }
      #header #gnb > ul > li:nth-child(1) a {
        background-image: url(../images/common/home.png); }
    #header #gnb > ul > li:nth-child(2) {
      left: 46%; }
      #header #gnb > ul > li:nth-child(2) a {
        background-image: url(../images/common/about.png); }
    #header #gnb > ul > li:nth-child(3) {
      left: 52%; }
      #header #gnb > ul > li:nth-child(3) > a {
        background-image: url(../images/common/folder.png); }
      #header #gnb > ul > li:nth-child(3) > a.open_icon {
        background-image: url(../images/common/folder_open.png); }
      #header #gnb > ul > li:nth-child(3) ul {
        position: relative;
        margin-left: -200vw;
        opacity: 0;
        padding-top: 15px;
        width: 432px;
        height: 250px;
        background: url(../images/common/window_dep2.png) no-repeat center; }
        #header #gnb > ul > li:nth-child(3) ul.dep_open {
          opacity: 1;
          margin-left: 0; }
        #header #gnb > ul > li:nth-child(3) ul li {
          position: absolute;
          top: 10%;
          background: no-repeat top center;
          width: 150px;
          height: 70px; }
          #header #gnb > ul > li:nth-child(3) ul li a {
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 40px; }
        #header #gnb > ul > li:nth-child(3) ul li:nth-child(2) {
          top: 20%;
          left: 10%; }
          #header #gnb > ul > li:nth-child(3) ul li:nth-child(2) a {
            background-image: url(../images/common/home.png); }
        #header #gnb > ul > li:nth-child(3) ul li:nth-child(3) {
          top: 20%;
          left: 50%; }
          #header #gnb > ul > li:nth-child(3) ul li:nth-child(3) a {
            background-image: url(../images/common/design.png); }
        #header #gnb > ul > li:nth-child(3) ul li:nth-child(4) {
          top: 60%;
          left: 10%; }
          #header #gnb > ul > li:nth-child(3) ul li:nth-child(4) a {
            background-image: url(../images/common/web.png); }

#footer {
  position: fixed;
  color: #ededed;
  bottom: 0;
  width: 100vw;
  height: 50px;
  z-index: 1500; }
  #footer p {
    position: absolute;
    bottom: 10px;
    right: 35px;
    padding: 0px 10px;
    background: #2e2e2e; }

/* index */
.intro_video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  background: #000; }

#content.idx_bg {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  #content.idx_bg video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; }
  #content.idx_bg .idx_blur_box {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform 0.7s;
    -moz-transition: transform 0.7s;
    -o-transition: transform 0.7s;
    transition: transform 0.7s;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 3px solid #ededed;
    background: #2e2e2e;
    opacity: 0.85; }
    #content.idx_bg .idx_blur_box.action {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  #content.idx_bg .idx_who {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 400px;
    height: auto;
    opacity: 0; }
    #content.idx_bg .idx_who:focus {
      outline: 2px solid #99CC66; }
    #content.idx_bg .idx_who:before, #content.idx_bg .idx_who:after {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      opacity: 0; }
    #content.idx_bg .idx_who:before {
      content: "ABOUT HN";
      position: absolute;
      top: 50%;
      left: 20%;
      padding-left: 20px;
      width: 270px;
      height: 60px;
      font-size: 60px;
      line-height: 60px;
      background: #000; }
    #content.idx_bg .idx_who:after {
      content: "X";
      position: absolute;
      top: 38%;
      right: -2%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 65px;
      color: #99CC66;
      background: #fff;
      text-align: center; }
    #content.idx_bg .idx_who:hover:before, #content.idx_bg .idx_who:focus:before, #content.idx_bg .idx_who:hover:after, #content.idx_bg .idx_who:focus:after {
      opacity: 1; }
  #content.idx_bg .idx_port {
    position: absolute;
    top: 39%;
    right: 20%;
    width: 400px;
    height: auto;
    opacity: 0; }
    #content.idx_bg .idx_port:focus {
      outline: 2px solid #99CC66; }
    #content.idx_bg .idx_port:before, #content.idx_bg .idx_port:after {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      opacity: 0; }
    #content.idx_bg .idx_port:before {
      content: "PORTFOLIO";
      position: absolute;
      top: 50%;
      left: 10%;
      padding-left: 20px;
      width: 340px;
      height: 70px;
      font-size: 70px;
      line-height: 70px;
      background: #000; }
    #content.idx_bg .idx_port:after {
      content: "X";
      position: absolute;
      top: 38%;
      right: -10%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 65px;
      color: #99CC66;
      background: #fff;
      text-align: center; }
    #content.idx_bg .idx_port:hover:before, #content.idx_bg .idx_port:focus:before, #content.idx_bg .idx_port:hover:after, #content.idx_bg .idx_port:focus:after {
      opacity: 1; }

/* about */
#content.about_cnt {
  width: 100%;
  height: 400vh;
  overflow: hidden; }
  #content.about_cnt video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; }
  #content.about_cnt .about_blur_box {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform 0.7s;
    -moz-transition: transform 0.7s;
    -o-transition: transform 0.7s;
    transition: transform 0.7s;
    position: fixed;
    top: -5%;
    left: -5%;
    width: 90%;
    height: 90%;
    border: 3px solid #ededed;
    background: #2e2e2e;
    opacity: 0.85; }
    #content.about_cnt .about_blur_box.action {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  #content.about_cnt .about_cnt1 {
    width: 100%;
    height: 100vh; }
    #content.about_cnt .about_cnt1 h1 {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -o-transform: scale(1.5);
      -ms-transform: scale(1.5);
      transform: scale(1.5);
      -webkit-transition: transform 0.7s;
      -moz-transition: transform 0.7s;
      -o-transition: transform 0.7s;
      transition: transform 0.7s;
      position: absolute;
      top: 40%;
      left: 30%;
      width: 50%;
      height: auto; }
      #content.about_cnt .about_cnt1 h1.action {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      #content.about_cnt .about_cnt1 h1:before, #content.about_cnt .about_cnt1 h1:after {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        opacity: 0;
        z-index: 1500; }
      #content.about_cnt .about_cnt1 h1:before {
        content: "ABSOLUTELY COOL PROFILE";
        position: absolute;
        top: 50%;
        left: 10%;
        padding-left: 20px;
        width: 560px;
        height: 140px;
        font-size: 70px;
        line-height: 70px;
        background: #000; }
      #content.about_cnt .about_cnt1 h1:after {
        content: "X";
        position: absolute;
        top: 38%;
        right: 25%;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 65px;
        color: #99CC66;
        background: #fff;
        text-align: center; }
      #content.about_cnt .about_cnt1 h1:hover:before, #content.about_cnt .about_cnt1 h1:focus:before, #content.about_cnt .about_cnt1 h1:hover:after, #content.about_cnt .about_cnt1 h1:focus:after {
        opacity: 1; }
  #content.about_cnt .about_cnt2 {
    width: 100%;
    height: 100vh;
    position: relative; }
    #content.about_cnt .about_cnt2 ul {
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
      position: absolute;
      top: 70%;
      right: 40%;
      width: 700px;
      height: 700px;
      opacity: 0; }
      #content.about_cnt .about_cnt2 ul.move {
        opacity: 1; }
      #content.about_cnt .about_cnt2 ul li {
        font-size: 35px;
        border-right: 10px solid #fff;
        margin: 20px 0;
        opacity: 0;
        white-space: nowrap;
        overflow: hidden; }
        #content.about_cnt .about_cnt2 ul li.typing:nth-child(1) {
          -webkit-animation: typing 2s steps(40, end) forwards, blink-caret 0.5s 4 forwards;
          -moz-animation: typing 2s steps(40, end) forwards, blink-caret 0.5s 4 forwards;
          -o-animation: typing 2s steps(40, end) forwards, blink-caret 0.5s 4 forwards;
          animation: typing 2s steps(40, end) forwards, blink-caret 0.5s 4 forwards;
          width: 350px; }
        #content.about_cnt .about_cnt2 ul li.typing:nth-child(2) {
          -webkit-animation: typing 2s 2s steps(40, end) forwards, blink-caret 0.5s 2s 4 forwards;
          -moz-animation: typing 2s 2s steps(40, end) forwards, blink-caret 0.5s 2s 4 forwards;
          -o-animation: typing 2s 2s steps(40, end) forwards, blink-caret 0.5s 2s 4 forwards;
          animation: typing 2s 2s steps(40, end) forwards, blink-caret 0.5s 2s 4 forwards;
          width: 360px; }
        #content.about_cnt .about_cnt2 ul li.typing:nth-child(3) {
          -webkit-animation: typing 2s 4s steps(40, end) forwards, blink-caret 0.5s 4s 4 forwards;
          -moz-animation: typing 2s 4s steps(40, end) forwards, blink-caret 0.5s 4s 4 forwards;
          -o-animation: typing 2s 4s steps(40, end) forwards, blink-caret 0.5s 4s 4 forwards;
          animation: typing 2s 4s steps(40, end) forwards, blink-caret 0.5s 4s 4 forwards;
          width: 470px; }
        #content.about_cnt .about_cnt2 ul li.typing:nth-child(4) {
          -webkit-animation: typing 2s 7s steps(40, end) forwards, blink-caret 0.5s 7s 4 forwards;
          -moz-animation: typing 2s 7s steps(40, end) forwards, blink-caret 0.5s 7s 4 forwards;
          -o-animation: typing 2s 7s steps(40, end) forwards, blink-caret 0.5s 7s 4 forwards;
          animation: typing 2s 7s steps(40, end) forwards, blink-caret 0.5s 7s 4 forwards;
          width: 580px; }
        #content.about_cnt .about_cnt2 ul li.typing:nth-child(5) {
          -webkit-animation: typing 2s 9s steps(40, end) forwards, blink-caret 0.5s 9s 4 forwards;
          -moz-animation: typing 2s 9s steps(40, end) forwards, blink-caret 0.5s 9s 4 forwards;
          -o-animation: typing 2s 9s steps(40, end) forwards, blink-caret 0.5s 9s 4 forwards;
          animation: typing 2s 9s steps(40, end) forwards, blink-caret 0.5s 9s 4 forwards;
          width: 300px; }
        #content.about_cnt .about_cnt2 ul li.typing:nth-child(6) {
          -webkit-animation: typing 2s 11s steps(40, end) forwards, blink-caret 0.5s 11s 4 forwards;
          -moz-animation: typing 2s 11s steps(40, end) forwards, blink-caret 0.5s 11s 4 forwards;
          -o-animation: typing 2s 11s steps(40, end) forwards, blink-caret 0.5s 11s 4 forwards;
          animation: typing 2s 11s steps(40, end) forwards, blink-caret 0.5s 11s 4 forwards;
          width: 420px; }
        #content.about_cnt .about_cnt2 ul li.typing:nth-child(7) {
          -webkit-animation: typing 2s 13s steps(40, end) forwards, blink-caret 0.5s 13s infinite;
          -moz-animation: typing 2s 13s steps(40, end) forwards, blink-caret 0.5s 13s infinite;
          -o-animation: typing 2s 13s steps(40, end) forwards, blink-caret 0.5s 13s infinite;
          animation: typing 2s 13s steps(40, end) forwards, blink-caret 0.5s 13s infinite;
          width: 400px; }
    #content.about_cnt .about_cnt2 .about_cnt2_bg {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      position: absolute;
      top: 60%;
      margin-right: -600px;
      right: -3%;
      background: url(../images/about/aboutA.png) no-repeat center;
      width: 550px;
      height: 550px;
      opacity: 0;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain; }
      #content.about_cnt .about_cnt2 .about_cnt2_bg:hover {
        background-image: url(../images/about/aboutA_color.png); }
      #content.about_cnt .about_cnt2 .about_cnt2_bg.move {
        margin-right: 0;
        opacity: 1; }
  #content.about_cnt .about_cnt3 {
    position: relative;
    width: 100%;
    height: 100vh; }
    #content.about_cnt .about_cnt3 ul {
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
      position: absolute;
      top: 50%;
      left: 15%;
      width: 700px;
      height: 700px;
      opacity: 0; }
      #content.about_cnt .about_cnt3 ul.move {
        opacity: 1; }
      #content.about_cnt .about_cnt3 ul li {
        font-size: 35px;
        border-right: 10px solid #fff;
        margin: 20px 0;
        opacity: 0;
        white-space: nowrap;
        overflow: hidden; }
        #content.about_cnt .about_cnt3 ul li.typing:nth-child(1) {
          -webkit-animation: typing 2s steps(40, end) forwards, blink-caret 0.5s 4 forwards;
          -moz-animation: typing 2s steps(40, end) forwards, blink-caret 0.5s 4 forwards;
          -o-animation: typing 2s steps(40, end) forwards, blink-caret 0.5s 4 forwards;
          animation: typing 2s steps(40, end) forwards, blink-caret 0.5s 4 forwards;
          width: 450px; }
        #content.about_cnt .about_cnt3 ul li.typing:nth-child(2) {
          -webkit-animation: typing 2s 2s steps(40, end) forwards, blink-caret 0.5s 2s 4 forwards;
          -moz-animation: typing 2s 2s steps(40, end) forwards, blink-caret 0.5s 2s 4 forwards;
          -o-animation: typing 2s 2s steps(40, end) forwards, blink-caret 0.5s 2s 4 forwards;
          animation: typing 2s 2s steps(40, end) forwards, blink-caret 0.5s 2s 4 forwards;
          width: 460px; }
        #content.about_cnt .about_cnt3 ul li.typing:nth-child(3) {
          -webkit-animation: typing 2s 4s steps(40, end) forwards, blink-caret 0.5s 4s 4 forwards;
          -moz-animation: typing 2s 4s steps(40, end) forwards, blink-caret 0.5s 4s 4 forwards;
          -o-animation: typing 2s 4s steps(40, end) forwards, blink-caret 0.5s 4s 4 forwards;
          animation: typing 2s 4s steps(40, end) forwards, blink-caret 0.5s 4s 4 forwards;
          width: 430px; }
        #content.about_cnt .about_cnt3 ul li.typing:nth-child(4) {
          -webkit-animation: typing 2s 7s steps(40, end) forwards, blink-caret 0.5s 7s 4 forwards;
          -moz-animation: typing 2s 7s steps(40, end) forwards, blink-caret 0.5s 7s 4 forwards;
          -o-animation: typing 2s 7s steps(40, end) forwards, blink-caret 0.5s 7s 4 forwards;
          animation: typing 2s 7s steps(40, end) forwards, blink-caret 0.5s 7s 4 forwards;
          width: 620px; }
        #content.about_cnt .about_cnt3 ul li.typing:nth-child(5) {
          -webkit-animation: typing 2s 9s steps(40, end) forwards, blink-caret 0.5s 9s 4 forwards;
          -moz-animation: typing 2s 9s steps(40, end) forwards, blink-caret 0.5s 9s 4 forwards;
          -o-animation: typing 2s 9s steps(40, end) forwards, blink-caret 0.5s 9s 4 forwards;
          animation: typing 2s 9s steps(40, end) forwards, blink-caret 0.5s 9s 4 forwards;
          width: 420px; }
        #content.about_cnt .about_cnt3 ul li.typing:nth-child(6) {
          -webkit-animation: typing 2s 11s steps(40, end) forwards, blink-caret 0.5s 11s 4 forwards;
          -moz-animation: typing 2s 11s steps(40, end) forwards, blink-caret 0.5s 11s 4 forwards;
          -o-animation: typing 2s 11s steps(40, end) forwards, blink-caret 0.5s 11s 4 forwards;
          animation: typing 2s 11s steps(40, end) forwards, blink-caret 0.5s 11s 4 forwards;
          width: 420px; }
        #content.about_cnt .about_cnt3 ul li.typing:nth-child(7) {
          -webkit-animation: typing 2s 13s steps(40, end) forwards, blink-caret 0.5s 13s 4 forwards;
          -moz-animation: typing 2s 13s steps(40, end) forwards, blink-caret 0.5s 13s 4 forwards;
          -o-animation: typing 2s 13s steps(40, end) forwards, blink-caret 0.5s 13s 4 forwards;
          animation: typing 2s 13s steps(40, end) forwards, blink-caret 0.5s 13s 4 forwards;
          width: 480px; }
        #content.about_cnt .about_cnt3 ul li.typing:nth-child(8) {
          -webkit-animation: typing 2s 15s steps(40, end) forwards, blink-caret 0.5s 15s infinite;
          -moz-animation: typing 2s 15s steps(40, end) forwards, blink-caret 0.5s 15s infinite;
          -o-animation: typing 2s 15s steps(40, end) forwards, blink-caret 0.5s 15s infinite;
          animation: typing 2s 15s steps(40, end) forwards, blink-caret 0.5s 15s infinite;
          width: 480px; }
  #content.about_cnt .about_cnt4 {
    position: relative;
    width: 100%;
    height: 100vh; }
    #content.about_cnt .about_cnt4 ul {
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s;
      position: absolute;
      top: 20%;
      left: 30%;
      width: 700px;
      height: 700px;
      opacity: 0; }
      #content.about_cnt .about_cnt4 ul.move {
        opacity: 1; }
      #content.about_cnt .about_cnt4 ul li {
        position: relative; }
        #content.about_cnt .about_cnt4 ul li button {
          display: block;
          text-align: left;
          font-size: 35px;
          border-right: 10px solid #fff;
          margin: 20px 0;
          padding: 0;
          opacity: 0;
          white-space: nowrap;
          overflow: hidden; }
          #content.about_cnt .about_cnt4 ul li button:hover, #content.about_cnt .about_cnt4 ul li button:focus {
            color: #99CC66; }
            #content.about_cnt .about_cnt4 ul li button:hover:before, #content.about_cnt .about_cnt4 ul li button:focus:before {
              content: "";
              position: absolute;
              top: 0;
              left: -50px;
              display: block;
              width: 550px;
              height: 100%;
              background: #000;
              opacity: 0.85;
              z-index: -1; }
        #content.about_cnt .about_cnt4 ul li.typing:nth-child(1) button {
          -webkit-animation: typing 1s steps(40, end) forwards, blink-caret 0.5s 2 forwards;
          -moz-animation: typing 1s steps(40, end) forwards, blink-caret 0.5s 2 forwards;
          -o-animation: typing 1s steps(40, end) forwards, blink-caret 0.5s 2 forwards;
          animation: typing 1s steps(40, end) forwards, blink-caret 0.5s 2 forwards;
          width: 270px; }
        #content.about_cnt .about_cnt4 ul li.typing:nth-child(2) button {
          -webkit-animation: typing 1s 1s steps(40, end) forwards, blink-caret 0.5s 1s 2 forwards;
          -moz-animation: typing 1s 1s steps(40, end) forwards, blink-caret 0.5s 1s 2 forwards;
          -o-animation: typing 1s 1s steps(40, end) forwards, blink-caret 0.5s 1s 2 forwards;
          animation: typing 1s 1s steps(40, end) forwards, blink-caret 0.5s 1s 2 forwards;
          width: 200px; }
        #content.about_cnt .about_cnt4 ul li.typing:nth-child(3) button {
          -webkit-animation: typing 1s 2s steps(40, end) forwards, blink-caret 0.5s 2s 2 forwards;
          -moz-animation: typing 1s 2s steps(40, end) forwards, blink-caret 0.5s 2s 2 forwards;
          -o-animation: typing 1s 2s steps(40, end) forwards, blink-caret 0.5s 2s 2 forwards;
          animation: typing 1s 2s steps(40, end) forwards, blink-caret 0.5s 2s 2 forwards;
          width: 330px; }
        #content.about_cnt .about_cnt4 ul li.typing:nth-child(4) button {
          -webkit-animation: typing 1s 3s steps(40, end) forwards, blink-caret 0.5s 3s 2 forwards;
          -moz-animation: typing 1s 3s steps(40, end) forwards, blink-caret 0.5s 3s 2 forwards;
          -o-animation: typing 1s 3s steps(40, end) forwards, blink-caret 0.5s 3s 2 forwards;
          animation: typing 1s 3s steps(40, end) forwards, blink-caret 0.5s 3s 2 forwards;
          width: 200px; }
        #content.about_cnt .about_cnt4 ul li.typing:nth-child(5) button {
          -webkit-animation: typing 1s 4s steps(40, end) forwards, blink-caret 0.5s 4s 2 forwards;
          -moz-animation: typing 1s 4s steps(40, end) forwards, blink-caret 0.5s 4s 2 forwards;
          -o-animation: typing 1s 4s steps(40, end) forwards, blink-caret 0.5s 4s 2 forwards;
          animation: typing 1s 4s steps(40, end) forwards, blink-caret 0.5s 4s 2 forwards;
          width: 250px; }
        #content.about_cnt .about_cnt4 ul li.typing:nth-child(6) button {
          -webkit-animation: typing 1s 5s steps(40, end) forwards, blink-caret 0.5s 5s 2 forwards;
          -moz-animation: typing 1s 5s steps(40, end) forwards, blink-caret 0.5s 5s 2 forwards;
          -o-animation: typing 1s 5s steps(40, end) forwards, blink-caret 0.5s 5s 2 forwards;
          animation: typing 1s 5s steps(40, end) forwards, blink-caret 0.5s 5s 2 forwards;
          width: 200px; }
        #content.about_cnt .about_cnt4 ul li.typing:nth-child(7) button {
          -webkit-animation: typing 1s 6s steps(40, end) forwards, blink-caret 0.5s 6s infinite;
          -moz-animation: typing 1s 6s steps(40, end) forwards, blink-caret 0.5s 6s infinite;
          -o-animation: typing 1s 6s steps(40, end) forwards, blink-caret 0.5s 6s infinite;
          animation: typing 1s 6s steps(40, end) forwards, blink-caret 0.5s 6s infinite;
          width: 440px; }
        #content.about_cnt .about_cnt4 ul li div {
          position: absolute;
          width: 70px;
          height: 370px;
          left: 550px;
          border: 3px solid #fff;
          background: #2e2e2e; }
          #content.about_cnt .about_cnt4 ul li div:before {
            content: "";
            position: absolute;
            width: 70px;
            bottom: 0;
            left: 0; }
          #content.about_cnt .about_cnt4 ul li div:after {
            position: absolute;
            top: -3px;
            left: 135%;
            width: 400px;
            height: 340px;
            background: #2e2e2e;
            border: 3px solid #fff;
            font-size: 30px;
            text-align: center;
            white-space: pre;
            padding-top: 30px; }
        #content.about_cnt .about_cnt4 ul li:nth-child(1) div {
          top: 0; }
          #content.about_cnt .about_cnt4 ul li:nth-child(1) div:before {
            -webkit-animation: graph90 2s 1 forwards, wave 5s infinite;
            -moz-animation: graph90 2s 1 forwards, wave 5s infinite;
            -o-animation: graph90 2s 1 forwards, wave 5s infinite;
            animation: graph90 2s 1 forwards, wave 5s infinite;
            background: #99CC66; }
          #content.about_cnt .about_cnt4 ul li:nth-child(1) div:after {
            content: "Skill Point : 90% \A HTML5 : Excellent!!! \A CSS3.0 : Excellent!!!"; }
        #content.about_cnt .about_cnt4 ul li:nth-child(2) div {
          top: -58px; }
          #content.about_cnt .about_cnt4 ul li:nth-child(2) div:before {
            -webkit-animation: graph60 2s 1 forwards, wave 5s infinite;
            -moz-animation: graph60 2s 1 forwards, wave 5s infinite;
            -o-animation: graph60 2s 1 forwards, wave 5s infinite;
            animation: graph60 2s 1 forwards, wave 5s infinite;
            background: #ff7d0f; }
          #content.about_cnt .about_cnt4 ul li:nth-child(2) div:after {
            content: "Skill Point : 60% \A jQuery : Good!!"; }
        #content.about_cnt .about_cnt4 ul li:nth-child(3) div {
          top: -116px; }
          #content.about_cnt .about_cnt4 ul li:nth-child(3) div:before {
            -webkit-animation: graph100 2s 1 forwards, wave 5s infinite;
            -moz-animation: graph100 2s 1 forwards, wave 5s infinite;
            -o-animation: graph100 2s 1 forwards, wave 5s infinite;
            animation: graph100 2s 1 forwards, wave 5s infinite;
            background: #99CC66; }
          #content.about_cnt .about_cnt4 ul li:nth-child(3) div:after {
            content: "Skill Point : 100% \A XD : Excellent!!! \A Zeplin : Excellent!!!"; }
        #content.about_cnt .about_cnt4 ul li:nth-child(4) div {
          top: -174px; }
          #content.about_cnt .about_cnt4 ul li:nth-child(4) div:before {
            -webkit-animation: graph90 2s 1 forwards, wave 5s infinite;
            -moz-animation: graph90 2s 1 forwards, wave 5s infinite;
            -o-animation: graph90 2s 1 forwards, wave 5s infinite;
            animation: graph90 2s 1 forwards, wave 5s infinite;
            background: #99CC66; }
          #content.about_cnt .about_cnt4 ul li:nth-child(4) div:after {
            content: "Skill Point : 90% \A Photoshop : Excellent!!!"; }
        #content.about_cnt .about_cnt4 ul li:nth-child(5) div {
          top: -232px; }
          #content.about_cnt .about_cnt4 ul li:nth-child(5) div:before {
            -webkit-animation: graph90 2s 1 forwards, wave 5s infinite;
            -moz-animation: graph90 2s 1 forwards, wave 5s infinite;
            -o-animation: graph90 2s 1 forwards, wave 5s infinite;
            animation: graph90 2s 1 forwards, wave 5s infinite;
            background: #99CC66; }
          #content.about_cnt .about_cnt4 ul li:nth-child(5) div:after {
            content: "Skill Point : 90% \A Illustrator : Excellent!!!"; }
        #content.about_cnt .about_cnt4 ul li:nth-child(6) div {
          top: -290px; }
          #content.about_cnt .about_cnt4 ul li:nth-child(6) div:before {
            -webkit-animation: graph60 2s 1 forwards, wave 5s infinite;
            -moz-animation: graph60 2s 1 forwards, wave 5s infinite;
            -o-animation: graph60 2s 1 forwards, wave 5s infinite;
            animation: graph60 2s 1 forwards, wave 5s infinite;
            background: #ff7d0f; }
          #content.about_cnt .about_cnt4 ul li:nth-child(6) div:after {
            content: "Skill Point : 60% \A InDesign : Good!!"; }
        #content.about_cnt .about_cnt4 ul li:nth-child(7) div {
          top: -348px; }
          #content.about_cnt .about_cnt4 ul li:nth-child(7) div:before {
            -webkit-animation: graph70 2s 1 forwards, wave 5s infinite;
            -moz-animation: graph70 2s 1 forwards, wave 5s infinite;
            -o-animation: graph70 2s 1 forwards, wave 5s infinite;
            animation: graph70 2s 1 forwards, wave 5s infinite;
            background: #3db9df; }
          #content.about_cnt .about_cnt4 ul li:nth-child(7) div:after {
            content: "Skill Point : 70% \A Premiere : Excellent!!! \A After Effects : Good!!"; }

/* choice */
#content.cho_cnt {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }
  #content.cho_cnt video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; }
  #content.cho_cnt .cho_blur_box {
    position: absolute;
    top: -150%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 3px solid #ededed;
    background: #2e2e2e;
    opacity: 0; }
  #content.cho_cnt .cho_design {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 250px;
    height: 200px;
    opacity: 0; }
    #content.cho_cnt .cho_design:focus {
      outline: 2px solid #99CC66; }
    #content.cho_cnt .cho_design:before, #content.cho_cnt .cho_design:after {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      opacity: 0; }
    #content.cho_cnt .cho_design:before {
      content: "DESIGN_PAGE";
      position: absolute;
      top: 65%;
      left: -8%;
      padding-left: 20px;
      width: 360px;
      height: 60px;
      font-size: 60px;
      line-height: 60px;
      background: #000; }
    #content.cho_cnt .cho_design:after {
      content: "X";
      position: absolute;
      top: 46%;
      right: -57%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 65px;
      color: #99CC66;
      background: #fff;
      text-align: center; }
    #content.cho_cnt .cho_design:hover:before, #content.cho_cnt .cho_design:focus:before, #content.cho_cnt .cho_design:hover:after, #content.cho_cnt .cho_design:focus:after {
      opacity: 1; }
  #content.cho_cnt .cho_web {
    position: absolute;
    top: 42%;
    right: 20%;
    width: 400px;
    height: auto;
    opacity: 0; }
    #content.cho_cnt .cho_web:focus {
      outline: 2px solid #99CC66; }
    #content.cho_cnt .cho_web:before, #content.cho_cnt .cho_web:after {
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
      opacity: 0; }
    #content.cho_cnt .cho_web:before {
      content: "WEB_PAGE";
      position: absolute;
      top: 20%;
      left: 10%;
      padding-left: 20px;
      width: 320px;
      height: 70px;
      font-size: 70px;
      line-height: 70px;
      background: #000; }
    #content.cho_cnt .cho_web:after {
      content: "X";
      position: absolute;
      top: 35%;
      right: -5%;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 65px;
      color: #99CC66;
      background: #fff;
      text-align: center; }
    #content.cho_cnt .cho_web:hover:before, #content.cho_cnt .cho_web:focus:before, #content.cho_cnt .cho_web:hover:after, #content.cho_cnt .cho_web:focus:after {
      opacity: 1; }

/* design */
#content.design_cnt {
  width: 100%;
  height: 500vh;
  overflow: hidden; }
  #content.design_cnt .design_blur_box {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    position: fixed;
    top: 0;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 3px solid #ededed;
    background: #2e2e2e;
    opacity: 0.85; }
    #content.design_cnt .design_blur_box.action {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  #content.design_cnt .design_cnt1 {
    position: relative;
    width: 100%;
    height: 100vh; }
    #content.design_cnt .design_cnt1 video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: -1; }
    #content.design_cnt .design_cnt1 h1 {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
      position: absolute;
      top: 20%;
      left: 23%;
      width: 50%;
      height: auto; }
      #content.design_cnt .design_cnt1 h1.action {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      #content.design_cnt .design_cnt1 h1:before, #content.design_cnt .design_cnt1 h1:after {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        opacity: 0;
        z-index: 1500; }
      #content.design_cnt .design_cnt1 h1:before {
        content: "AWESOME DESIGN & AMAZING IDEAS";
        position: absolute;
        top: 60%;
        left: 10%;
        padding-left: 20px;
        width: 530px;
        height: 140px;
        font-size: 70px;
        line-height: 70px;
        background: #000; }
      #content.design_cnt .design_cnt1 h1:after {
        content: "X";
        position: absolute;
        top: 55%;
        right: 29%;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 65px;
        color: #99CC66;
        background: #fff;
        text-align: center; }
      #content.design_cnt .design_cnt1 h1:hover:before, #content.design_cnt .design_cnt1 h1:focus:before, #content.design_cnt .design_cnt1 h1:hover:after, #content.design_cnt .design_cnt1 h1:focus:after {
        opacity: 1; }
  #content.design_cnt .design_cnt2 {
    width: 100%;
    height: 100vh;
    position: relative; }
    #content.design_cnt .design_cnt2 h2 {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      position: absolute;
      top: 10%;
      left: 22%;
      font-size: 30px;
      opacity: 0;
      margin-top: 200px; }
      #content.design_cnt .design_cnt2 h2.move {
        margin-top: 0;
        opacity: 1; }
    #content.design_cnt .design_cnt2 .swiper-container {
      top: 22%;
      left: 15%; }
      #content.design_cnt .design_cnt2 .swiper-container a {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        position: absolute;
        background: #2e2e2e;
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        text-align: center;
        top: 600px;
        left: 1100px;
        z-index: 120; }
        #content.design_cnt .design_cnt2 .swiper-container a:hover, #content.design_cnt .design_cnt2 .swiper-container a:focus {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          color: #ff7d0f; }
  #content.design_cnt .design_cnt3 {
    width: 100%;
    height: 100vh;
    position: relative; }
    #content.design_cnt .design_cnt3 h2 {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      position: absolute;
      top: 10%;
      left: 17%;
      font-size: 30px;
      opacity: 0;
      margin-top: 200px; }
      #content.design_cnt .design_cnt3 h2.move {
        margin-top: 0;
        opacity: 1; }
    #content.design_cnt .design_cnt3 .swiper-container {
      top: 20%;
      left: 10%; }
      #content.design_cnt .design_cnt3 .swiper-container a {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        position: absolute;
        background: #2e2e2e;
        width: 150px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        text-align: center;
        top: 600px;
        left: 1100px;
        z-index: 120; }
        #content.design_cnt .design_cnt3 .swiper-container a:hover, #content.design_cnt .design_cnt3 .swiper-container a:focus {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          color: #ff7d0f; }
  #content.design_cnt .design_cnt4 {
    width: 100%;
    height: 100vh;
    position: relative; }
    #content.design_cnt .design_cnt4 h2 {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      position: absolute;
      top: 10%;
      left: 10%;
      font-size: 30px;
      opacity: 0;
      margin-top: 200px; }
      #content.design_cnt .design_cnt4 h2.move {
        margin-top: 0;
        opacity: 1; }
    #content.design_cnt .design_cnt4 .swiper-container {
      top: 20%;
      left: 10%; }
  #content.design_cnt .design_cnt5 {
    width: 100%;
    height: 100vh;
    position: relative; }
    #content.design_cnt .design_cnt5 .cnt_bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: -1;
      display: none; }
    #content.design_cnt .design_cnt5 h2 {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      position: absolute;
      top: 10%;
      left: 30%;
      font-size: 30px;
      opacity: 0;
      margin-top: 200px; }
      #content.design_cnt .design_cnt5 h2.move {
        margin-top: 0;
        opacity: 1; }
    #content.design_cnt .design_cnt5 .imunmaps {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      position: absolute;
      top: 18%;
      left: 30%;
      width: 40%;
      height: auto;
      opacity: 0;
      margin-top: 200px; }
      #content.design_cnt .design_cnt5 .imunmaps.move {
        margin-top: 0;
        opacity: 1; }
  #content.design_cnt .swiper-container {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: absolute;
    width: 1300px;
    height: 700px;
    opacity: 0;
    margin-top: 200px; }
    #content.design_cnt .swiper-container.move {
      margin-top: 0;
      opacity: 1; }
    #content.design_cnt .swiper-container .swiper-wrapper {
      -webkit-transform: translateX(-40%);
      -moz-transform: translateX(-40%);
      -o-transform: translateX(-40%);
      -ms-transform: translateX(-40%);
      transform: translateX(-40%);
      margin-left: 50%; }
      #content.design_cnt .swiper-container .swiper-wrapper .swiper-slide {
        position: relative; }
        #content.design_cnt .swiper-container .swiper-wrapper .swiper-slide figure {
          width: 600px;
          height: 600px;
          border: 5px solid #fff; }
        #content.design_cnt .swiper-container .swiper-wrapper .swiper-slide p {
          position: absolute;
          bottom: 5%;
          right: 17%;
          padding: 30px 0;
          width: 400px;
          height: 400px;
          color: #2e2e2e;
          background: #ededed;
          font-size: 15px;
          line-height: 2.2;
          z-index: -1; }
          #content.design_cnt .swiper-container .swiper-wrapper .swiper-slide p:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: -100px;
            width: 100px;
            height: 100%;
            background: #ededed; }
    #content.design_cnt .swiper-container .swiper-button-prev {
      position: absolute;
      top: 130px;
      left: 1050px;
      width: 50px;
      height: 50px; }
    #content.design_cnt .swiper-container .swiper-button-next {
      position: absolute;
      top: 130px;
      left: 1150px;
      width: 50px;
      height: 50px; }
    #content.design_cnt .swiper-container .swiper-button-prev::after, #content.design_cnt .swiper-container .swiper-button-next::after {
      display: block;
      opacity: 0; }
  #content.design_cnt .cnt_bg {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0; }

/* web */
#content.web_cnt {
  width: 100%;
  height: 300vh;
  overflow: hidden; }
  #content.web_cnt video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; }
  #content.web_cnt .web_blur_box {
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -o-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    transform: translateY(-300px);
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    position: fixed;
    top: 0;
    right: -5%;
    width: 90%;
    height: 100%;
    border: 3px solid #ededed;
    background: #2e2e2e;
    opacity: 0.85; }
    #content.web_cnt .web_blur_box.action {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  #content.web_cnt .web_cnt1 {
    width: 100%;
    height: 100vh; }
    #content.web_cnt .web_cnt1 h1 {
      -webkit-transform: translateY(-300px);
      -moz-transform: translateY(-300px);
      -o-transform: translateY(-300px);
      -ms-transform: translateY(-300px);
      transform: translateY(-300px);
      -webkit-transition: transform 1s;
      -moz-transition: transform 1s;
      -o-transition: transform 1s;
      transition: transform 1s;
      position: absolute;
      top: 20%;
      left: 20%;
      width: 50%;
      height: auto; }
      #content.web_cnt .web_cnt1 h1.action {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0); }
      #content.web_cnt .web_cnt1 h1:before, #content.web_cnt .web_cnt1 h1:after {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        opacity: 0;
        z-index: 1500; }
      #content.web_cnt .web_cnt1 h1:before {
        content: "BEAUTIFUL AND CONVENIENT WEB";
        position: absolute;
        top: 50%;
        left: 10%;
        padding-left: 20px;
        width: 560px;
        height: 140px;
        font-size: 70px;
        line-height: 70px;
        background: #000; }
      #content.web_cnt .web_cnt1 h1:after {
        content: "X";
        position: absolute;
        top: 45%;
        right: 30%;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 65px;
        color: #99CC66;
        background: #fff;
        text-align: center; }
      #content.web_cnt .web_cnt1 h1:hover:before, #content.web_cnt .web_cnt1 h1:focus:before, #content.web_cnt .web_cnt1 h1:hover:after, #content.web_cnt .web_cnt1 h1:focus:after {
        opacity: 1; }
  #content.web_cnt .web_cnt2 {
    position: relative;
    width: 100%;
    height: 100vh;
    /* writing-mode : vertical-rl; */ }
    #content.web_cnt .web_cnt2 video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: -1;
      display: none; }
    #content.web_cnt .web_cnt2 h2 {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      position: absolute;
      top: 59%;
      left: 8%;
      font-size: 30px;
      margin-top: 200px;
      opacity: 0; }
      #content.web_cnt .web_cnt2 h2.move {
        margin-top: 0;
        opacity: 1; }
    #content.web_cnt .web_cnt2 .web_tab {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      position: absolute;
      top: 13%;
      left: 12%;
      width: 80%;
      height: 70%;
      opacity: 0;
      margin-top: 200px; }
      #content.web_cnt .web_cnt2 .web_tab.move {
        margin-top: 0;
        opacity: 1; }
      #content.web_cnt .web_cnt2 .web_tab .tablist {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 148px;
        background: #000;
        text-align: center;
        line-height: 50px;
        z-index: 100; }
        #content.web_cnt .web_cnt2 .web_tab .tablist li {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          height: 50px;
          border: 2px solid #fff;
          cursor: pointer; }
        #content.web_cnt .web_cnt2 .web_tab .tablist li + li {
          margin-top: -1px; }
        #content.web_cnt .web_cnt2 .web_tab .tablist li.tab_on {
          background: #fff;
          color: #000; }
      #content.web_cnt .web_cnt2 .web_tab .tabpanel_box {
        position: absolute;
        top: 0;
        left: 130px;
        width: 1300px;
        height: 700px;
        border: 3px solid #fff; }
      #content.web_cnt .web_cnt2 .web_tab .tabpanel {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #ededed; }
        #content.web_cnt .web_cnt2 .web_tab .tabpanel iframe {
          width: 100%;
          height: 100%; }
        #content.web_cnt .web_cnt2 .web_tab .tabpanel.tab_on {
          display: block; }
  #content.web_cnt .web_cnt3 {
    position: relative;
    width: 100%;
    height: 100vh;
    /* writing-mode : vertical-rl; */ }
    #content.web_cnt .web_cnt3 video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: -1;
      display: none; }
    #content.web_cnt .web_cnt3 h2 {
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      position: absolute;
      top: 60%;
      left: 14%;
      font-size: 30px;
      margin-top: 200px;
      opacity: 0; }
      #content.web_cnt .web_cnt3 h2.move {
        margin-top: 0;
        opacity: 1; }
    #content.web_cnt .web_cnt3 .web_tab {
      -webkit-transition: all 1s;
      -moz-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      position: absolute;
      top: 13%;
      right: 3%;
      width: 80%;
      height: 70%;
      opacity: 0;
      margin-top: 200px; }
      #content.web_cnt .web_cnt3 .web_tab.move {
        margin-top: 0;
        opacity: 1; }
      #content.web_cnt .web_cnt3 .web_tab .tablist {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 148px;
        background: #000;
        text-align: center;
        line-height: 50px;
        z-index: 100; }
        #content.web_cnt .web_cnt3 .web_tab .tablist li {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;
          height: 50px;
          border: 2px solid #fff;
          cursor: pointer; }
        #content.web_cnt .web_cnt3 .web_tab .tablist li + li {
          margin-top: -1px; }
        #content.web_cnt .web_cnt3 .web_tab .tablist li.tab_on {
          background: #fff;
          color: #000; }
      #content.web_cnt .web_cnt3 .web_tab .tabpanel_box {
        position: absolute;
        top: 0;
        left: 130px;
        width: 1300px;
        height: 700px;
        border: 3px solid #fff; }
      #content.web_cnt .web_cnt3 .web_tab .tabpanel {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #ededed; }
        #content.web_cnt .web_cnt3 .web_tab .tabpanel iframe {
          width: 100%;
          height: 100%; }
        #content.web_cnt .web_cnt3 .web_tab .tabpanel.tab_on {
          display: block; }

@-webkit-keyframes typing {
  from {
    width: 0;
    opacity: 1; }
  to {
    opacity: 1; } }
@-moz-keyframes typing {
  from {
    width: 0;
    opacity: 1; }
  to {
    opacity: 1; } }
@keyframes typing {
  from {
    width: 0;
    opacity: 1; }
  to {
    opacity: 1; } }
@-webkit-keyframes blink-caret {
  0% {
    border-color: transparent; }
  50% {
    border-color: #fff; }
  100% {
    border-color: transparent; } }
@-moz-keyframes blink-caret {
  0% {
    border-color: transparent; }
  50% {
    border-color: #fff; }
  100% {
    border-color: transparent; } }
@keyframes blink-caret {
  0% {
    border-color: transparent; }
  50% {
    border-color: #fff; }
  100% {
    border-color: transparent; } }
@-webkit-keyframes wave {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-moz-keyframes wave {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes wave {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes graph100 {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@-moz-keyframes graph100 {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@keyframes graph100 {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@-webkit-keyframes graph90 {
  0% {
    height: 0; }
  100% {
    height: 90%; } }
@-moz-keyframes graph90 {
  0% {
    height: 0; }
  100% {
    height: 90%; } }
@keyframes graph90 {
  0% {
    height: 0; }
  100% {
    height: 90%; } }
@-webkit-keyframes graph70 {
  0% {
    height: 0; }
  100% {
    height: 70%; } }
@-moz-keyframes graph70 {
  0% {
    height: 0; }
  100% {
    height: 70%; } }
@keyframes graph70 {
  0% {
    height: 0; }
  100% {
    height: 70%; } }
@-webkit-keyframes graph60 {
  0% {
    height: 0; }
  100% {
    height: 60%; } }
@-moz-keyframes graph60 {
  0% {
    height: 0; }
  100% {
    height: 60%; } }
@keyframes graph60 {
  0% {
    height: 0; }
  100% {
    height: 60%; } }
@media all and (max-width: 1260px) {
  body {
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
