@charset "utf-8";
@import "_var", "_mixin";
@font-face{
    font-family: DOSm;
    font-weight: 400;
    src: url(../fonts/DOSMyungjo.eot);
    src: local("★"),
        url(../fonts/DOSMyungjo.woff) format("woff"),
        url(../fonts/DOSMyungjo.ttf) format("truetype");
}

/* tag reset */
body, h1, h2, h3, h4, ul, p{margin: 0; padding: 0;}
h1, h2, h3, h4{font-size: 100%; font-weight: 400;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{text-decoration: none; color: inherit;}
img{vertical-align: top; border: none; max-width: 100%;}
button{border: none; background: none; cursor: pointer; font-family: inherit; font-size: inherit; color: inherit;}
header, nav, section, footer{display: block;}

.clearfix:after{content: "";display: block;clear: both;}
.sr-only{position: absolute;top: 0;left: -9999px;}

body{font-family: DOSm; font-size: 20px; line-height: 1.5; color: $HNgrey; word-break: keep-all;}

/* common */
#skip a{position: absolute; top: 0; left: -9999px; z-index: 3000;}
#skip a:focus{left: 0; width: 100%; height: 50px; line-height: 50px; text-align: center; background: $HNgreen; color: #000; font-size: 25px;}

#header{
    #hamburger{
        position: fixed; top: 35px; left: 35px; width: 43px; height: 50px; z-index: 2000;
        &:focus{outline: 2px solid #ffbb00;}
        .line{
            @include transition(all 0.7s);
            position: absolute;
            width: 100%; height: 5px; background: #333; left: 0;
            &.top{top: 7.5px;}
            &.mid{top: 22.5px;}
            &.btm{top: 37.5px;}
        }
        &.addon{
            .line{background: #fff;}
            .top{@include transform(scaleY(1.5));
                top: 22.5px;}
            .mid{opacity: 0;}
            .btm{@include transform(scaleY(1.7));
                top: 22.5px;}
        }
        &.ham_bg{
            background: $HNblack;
            .line{background: #fff;}
        }
        &.ham_bg.addon{background: none;}
    }
    .return_home{
        @include radius(0 0 10px 0);
        position: fixed; top: 35px; left: 78px; width: 200px; height: 50px; background: $HNblack; text-align: center; color: #fff; font-size: 35px; line-height: 50px; z-index: 2000;
        &:focus{outline: 2px solid #ffbb00;}
        &.addon{display: none;}
        &:hover:after, &:focus:after{
            @include radius(0 0 10px 0);
            content: "HOME"; position: absolute; top: 0; left: 0; background: $HNblack; color: #ffbb00; width: 100%; height: 100%;
        }
    }
    #gnb{
        visibility: hidden; position: fixed; top: 0; left: 0; width: 100%; height: 100%; overflow-y: auto; z-index: 1995;
        .gnb_bg{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.5;}
        .gnb_window{
            position: absolute; top: 20%; left: 20%; width: 60%; height: 60%; background: url(../images/common/window.png) no-repeat center;
            @include bgSize(contain);
        }
        &.window_on .gnb_window{background-image: url(../images/common/window_non.png);}
        > ul{
            position: relative; width: 100%; height: 100%; color: $HNblack; line-height: 2; text-align: center;
            > li{
                position: absolute; top: 40%; width: 70px; height: 70px;
                a{ 
                    width: 100%; height: 100%; background: no-repeat top center; padding-top: 55px;
                    &:focus{outline: 2px solid $HNgreen;}
                }
            }
            > li:nth-child(1){
                left: 40%;
                a{background-image: url(../images/common/home.png);}
            }
            > li:nth-child(2){
                left: 46%;
                a{background-image: url(../images/common/about.png);}
            }
            > li:nth-child(3){
                left: 52%;
                > a{background-image: url(../images/common/folder.png);}
                > a.open_icon{background-image: url(../images/common/folder_open.png);}
                ul{
                    position: relative; margin-left: -200vw; opacity: 0; padding-top: 15px; width: 432px; height: 250px; background: url(../images/common/window_dep2.png) no-repeat center;
                    &.dep_open{opacity: 1; margin-left: 0;}
                    li{
                        position: absolute; top: 10%; background: no-repeat top center; width: 150px; height: 70px;
                        a{display: block; width: 100%; height: 100%; padding-top: 40px;}
                    }
                    li:nth-child(2){
                        top: 20%; left: 10%;
                        a{background-image: url(../images/common/home.png);}
                    }
                    li:nth-child(3){
                        top: 20%; left: 50%;
                        a{background-image: url(../images/common/design.png);}
                    }
                    li:nth-child(4){
                        top: 60%; left: 10%;
                        a{background-image: url(../images/common/web.png);}
                    }
                }
            }
        }
    }
}

#footer{
    position: fixed; color: $HNgrey; bottom: 0; width: 100vw; height: 50px; z-index: 1500;
    p{position: absolute; bottom: 10px; right: 35px; padding: 0px 10px; background: $HNblack;}
}

/* index */
.intro_video{
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1500; background: #000;
}
#content.idx_bg{
    position: relative; width: 100vw; height: 100vh; overflow: hidden;
    video{position: fixed; top: 0; left: 0; width: 100%; height: auto; z-index: -1;}
    .idx_blur_box{
        @include transform(scale(1.5));
        @include transition(transform 0.7s);
        position: absolute; top: 5%; left: 5%; width: 90%; height: 90%; border: 3px solid $HNgrey; background: $HNblack; opacity: 0.85;
        &.action{@include transform(scale(1));}
    }
    .idx_who{ 
        position: absolute; top: 45%; left: 20%; width: 400px; height: auto; opacity: 0;
        &:focus{outline: 2px solid $HNgreen;}
        &:before, &:after{
            @include transition(all 0.5s);
            opacity: 0;
        }
        &:before{content: "ABOUT HN"; position: absolute; top: 50%; left: 20%; padding-left: 20px; width: 270px; height: 60px; font-size: 60px; line-height: 60px; background: #000;}
        &:after{content: "X"; position: absolute; top: 38%; right: -2%; width: 50px; height: 50px; line-height: 50px; font-size: 65px; color: $HNgreen; background: #fff; text-align: center;}
        &:hover:before, &:focus:before, &:hover:after, &:focus:after{opacity: 1;}
    }
    .idx_port{
        position: absolute; top: 39%; right: 20%; width: 400px; height: auto; opacity: 0;
        &:focus{outline: 2px solid $HNgreen;}
        &:before, &:after{
            @include transition(all 0.5s);
            opacity: 0;
        }
        &:before{content: "PORTFOLIO"; position: absolute; top: 50%; left: 10%; padding-left: 20px; width: 340px; height: 70px; font-size: 70px; line-height: 70px; background: #000;}
        &:after{content: "X"; position: absolute; top: 38%; right: -10%; width: 50px; height: 50px; line-height: 50px; font-size: 65px; color: $HNgreen; background: #fff; text-align: center;}
        &:hover:before, &:focus:before, &:hover:after, &:focus:after{opacity: 1;}
    }
}

/* about */
#content.about_cnt{
    width: 100%; height: 400vh; overflow: hidden;
    video{position: fixed; top: 0; left: 0; width: 100%; height: auto; z-index: -1;}
    .about_blur_box{
        @include transform(scale(1.5));
        @include transition(transform 0.7s);
        position: fixed; top: -5%; left: -5%; width: 90%; height: 90%; border: 3px solid $HNgrey; background: $HNblack; opacity: 0.85;
        &.action{@include transform(scale(1));}
    }
    .about_cnt1{
        width: 100%; height: 100vh;
        h1{
            @include transform(scale(1.5));
            @include transition(transform 0.7s);
            position: absolute; top: 40%; left: 30%; width: 50%; height: auto;
            &.action{@include transform(scale(1));}
            &:before, &:after{
                @include transition(all 0.5s);
                opacity: 0; z-index: 1500;
            }
            &:before{content: "ABSOLUTELY COOL PROFILE"; position: absolute; top: 50%; left: 10%; padding-left: 20px; width: 560px; height: 140px; font-size: 70px; line-height: 70px; background: #000;}
            &:after{content: "X"; position: absolute; top: 38%; right: 25%; width: 50px; height: 50px; line-height: 50px; font-size: 65px; color: $HNgreen; background: #fff; text-align: center;}
            &:hover:before, &:focus:before, &:hover:after, &:focus:after{opacity: 1;}
        }
    }
    .about_cnt2{
        width: 100%; height: 100vh; position: relative;
        ul{
            @include transition(opacity 0.5s);
            position: absolute; top: 70%; right: 40%; width: 700px; height: 700px; opacity: 0;
            &.move{opacity: 1;}
            li{ 
                font-size: 35px;
                border-right: 10px solid #fff;
                margin: 20px 0;
                opacity: 0;
                white-space: nowrap;
                overflow: hidden;
                &.typing:nth-child(1){
                    @include animation(typing 2s steps(40, end) forwards, blink-caret 0.5s 4 forwards);
                    width: 350px;
                }
                &.typing:nth-child(2){
                    @include animation(typing 2s 2s steps(40, end) forwards, blink-caret 0.5s 2s 4 forwards);
                    width: 360px;
                }
                &.typing:nth-child(3){
                    @include animation(typing 2s 4s steps(40, end) forwards, blink-caret 0.5s 4s 4 forwards);
                    width: 470px;
                }
                &.typing:nth-child(4){
                    @include animation(typing 2s 7s steps(40, end) forwards, blink-caret 0.5s 7s 4 forwards);
                    width: 580px;
                }
                &.typing:nth-child(5){
                    @include animation(typing 2s 9s steps(40, end) forwards, blink-caret 0.5s 9s 4 forwards);
                    width: 300px;
                }
                &.typing:nth-child(6){
                    @include animation(typing 2s 11s steps(40, end) forwards, blink-caret 0.5s 11s 4 forwards);
                    width: 420px;
                }
                &.typing:nth-child(7){
                    @include animation(typing 2s 13s steps(40, end) forwards, blink-caret 0.5s 13s infinite);
                    width: 400px;
                }
            }
        }
        .about_cnt2_bg{
            @include transition(all 0.5s);
            position: absolute; top: 60%; margin-right: -600px; right: -3%; background: url(../images/about/aboutA.png) no-repeat center; width: 550px; height: 550px; opacity: 0;
            @include bgSize(contain);
            &:hover{background-image: url(../images/about/aboutA_color.png);}
            &.move{margin-right: 0; opacity: 1;}
        }
    }
    .about_cnt3{
        position: relative; width: 100%; height: 100vh;
        ul{
            @include transition(opacity 0.5s);
            position: absolute; top: 20%; left: 15%; width: 700px; height: 700px; opacity: 0;
            &.move{opacity: 1;}
            li{ 
                font-size: 35px;
                border-right: 10px solid #fff;
                margin: 20px 0;
                opacity: 0;
                white-space: nowrap;
                overflow: hidden;
                &.typing:nth-child(1){
                    @include animation(typing 2s steps(40, end) forwards, blink-caret 0.5s 4 forwards);
                    width: 450px;
                }
                &.typing:nth-child(2){
                    @include animation(typing 2s 2s steps(40, end) forwards, blink-caret 0.5s 2s 4 forwards);
                    width: 460px;
                }
                &.typing:nth-child(3){
                    @include animation(typing 2s 4s steps(40, end) forwards, blink-caret 0.5s 4s 4 forwards);
                    width: 430px;
                }
                &.typing:nth-child(4){
                    @include animation(typing 2s 7s steps(40, end) forwards, blink-caret 0.5s 7s 4 forwards);
                    width: 620px;
                }
                &.typing:nth-child(5){
                    @include animation(typing 2s 9s steps(40, end) forwards, blink-caret 0.5s 9s 4 forwards);
                    width: 420px;
                }
                &.typing:nth-child(6){
                    @include animation(typing 2s 11s steps(40, end) forwards, blink-caret 0.5s 11s 4 forwards);
                    width: 420px;
                }
                &.typing:nth-child(7){
                    @include animation(typing 2s 13s steps(40, end) forwards, blink-caret 0.5s 13s 4 forwards);
                    width: 480px;
                }
                &.typing:nth-child(8){
                    @include animation(typing 2s 15s steps(40, end) forwards, blink-caret 0.5s 15s infinite);
                    width: 480px;
                }
            }
        }
    }
    .about_cnt4{
        position: relative; width: 100%; height: 100vh;
        h2{
            @include transition(all 1s);
            position: absolute; font-size: 50px; top: 20%; left: 30%; font-size: 30px; opacity: 0;
            &.move{opacity: 1;}
        }
        ul{
            @include transition(opacity 0.5s);
            position: absolute; top: 30%; left: 30%; width: 700px; height: 700px; opacity: 0;
            &.move{opacity: 1;}
            li{position: relative;
                button{
                    display: block;
                    text-align: left;
                    font-size: 35px;
                    border-right: 10px solid #fff;
                    margin: 20px 0;
                    padding: 0;
                    opacity: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    &:before{
                        @include transition(width 1s);
                        content: ""; position: absolute; top: 0; left: -50px; width: 0; height: 100%; background: #000; opacity: 0.85; z-index: -1;}
                    &:hover, &:focus, &.select{
                        color: $HNgreen;
                        &:before{width: 550px;}
                    }
                    &.select:after{
                        @include radius(50%);
                        content: ""; position: absolute; top: 12.5px; left: -25px; z-index: 100; width: 10px;height: 10px; background: #fff;
                        @include animation(wave2 2s infinite);
                    }
                }
                &.typing:nth-child(1) button{
                    @include animation(typing 1s steps(40, end) forwards, blink-caret 0.5s 2 forwards);
                    width: 270px;
                }
                &.typing:nth-child(2) button{
                    @include animation(typing 1s 1s steps(40, end) forwards, blink-caret 0.5s 1s 2 forwards);
                    width: 200px;
                }
                &.typing:nth-child(3) button{
                    @include animation(typing 1s 2s steps(40, end) forwards, blink-caret 0.5s 2s 2 forwards);
                    width: 330px;
                }
                &.typing:nth-child(4) button{
                    @include animation(typing 1s 3s steps(40, end) forwards, blink-caret 0.5s 3s 2 forwards);
                    width: 200px;
                }
                &.typing:nth-child(5) button{
                    @include animation(typing 1s 4s steps(40, end) forwards, blink-caret 0.5s 4s 2 forwards);
                    width: 250px;
                }
                &.typing:nth-child(6) button{
                    @include animation(typing 1s 5s steps(40, end) forwards, blink-caret 0.5s 5s 2 forwards);
                    width: 200px;
                }
                &.typing:nth-child(7) button{
                    @include animation(typing 1s 6s steps(40, end) forwards, blink-caret 0.5s 6s infinite);
                    width: 440px;
                }
                div{
                    @include transition(all 1s);
                    position: absolute; width: 70px; height: 370px; left: 550px; border: 3px solid #fff; background: $HNblack; margin-top: 200px; opacity: 0;
                    &.move{margin-top: 0; opacity: 1;}
                    &:before{content: ""; position: absolute; width: 70px; bottom: 0; left: 0;}
                    &:after{position: absolute; top: -3px; left: 135%; width: 400px; height: 340px; background: $HNblack; border: 3px solid #fff; font-size: 30px; text-align: center; white-space: pre; padding-top: 30px;}
                }
                &:nth-child(1) div{
                    top: 0;
                    &:before{
                        @include animation(graph90 2s 1 forwards, wave 5s infinite);
                        background: $HNgreen;
                    }
                    &:after{content: "Skill Point : 90% \A HTML5 : Excellent \A CSS3.0 : Excellent \A SCSS : Excellent";}
                }
                &:nth-child(2) div{
                    top: -58px;
                    &:before{
                        @include animation(graph70 2s 1 forwards, wave 5s infinite);
                        background: #3db9df;
                    }
                    &:after{content: "Skill Point : 70% \A jQuery : Good";}
                }
                &:nth-child(3) div{
                    top: -116px;
                    &:before{
                        @include animation(graph100 2s 1 forwards, wave 5s infinite);
                        background: $HNgreen;
                    }
                    &:after{content: "Skill Point : 100% \A XD : Excellent \A Zeplin : Excellent \A Bootstrap : Excellent \A Wordpress : Excellent";}
                }
                &:nth-child(4) div{
                    top: -174px;
                    &:before{
                        @include animation(graph90 2s 1 forwards, wave 5s infinite);
                        background: $HNgreen;
                    }
                    &:after{content: "Skill Point : 90% \A Photoshop : Excellent";}
                }
                &:nth-child(5) div{
                    top: -232px;
                    &:before{
                        @include animation(graph90 2s 1 forwards, wave 5s infinite);
                        background: $HNgreen;
                    }
                    &:after{content: "Skill Point : 90% \A Illustrator : Excellent";}
                }
                &:nth-child(6) div{
                    top: -290px;
                    &:before{
                        @include animation(graph70 2s 1 forwards, wave 5s infinite);
                        background: #3db9df;
                    }
                    &:after{content: "Skill Point : 70% \A InDesign : Good";}
                }
                &:nth-child(7) div{
                    top: -348px;
                    &:before{
                        @include animation(graph70 2s 1 forwards, wave 5s infinite);
                        background: #3db9df;
                    }
                    &:after{content: "Skill Point : 70% \A Premiere : Excellent!!! \A After Effects : Good";}
                }
            }
        }
    }
}

/* choice */
#content.cho_cnt{
    position: relative; width: 100vw; height: 100vh; overflow: hidden;
    video{position: fixed; top: 0; left: 0; width: 100%; height: auto; z-index: -1;}
    .cho_blur_box{
        position: absolute; top: -150%; left: 5%; width: 90%; height: 90%; border: 3px solid $HNgrey; background: $HNblack; opacity: 0;
    }
    .cho_design{ 
        position: absolute; top: 30%; left: 20%; width: 250px; height: 200px; opacity: 0;
        &:focus{outline: 2px solid $HNgreen;}
        &:before, &:after{
            @include transition(all 0.5s);
            opacity: 0;
        }
        &:before{content: "DESIGN_PAGE"; position: absolute; top: 65%; left: -8%; padding-left: 20px; width: 360px; height: 60px; font-size: 60px; line-height: 60px; background: #000;}
        &:after{content: "X"; position: absolute; top: 46%; right: -57%; width: 50px; height: 50px; line-height: 50px; font-size: 65px; color: $HNgreen; background: #fff; text-align: center;}
        &:hover:before, &:focus:before, &:hover:after, &:focus:after{opacity: 1;}
    }
    .cho_web{
        position: absolute; top: 42%; right: 20%; width: 400px; height: auto; opacity: 0;
        &:focus{outline: 2px solid $HNgreen;}
        &:before, &:after{
            @include transition(all 0.5s);
            opacity: 0;
        }
        &:before{content: "WEB_PAGE"; position: absolute; top: 20%; left: 10%; padding-left: 20px; width: 320px; height: 70px; font-size: 70px; line-height: 70px; background: #000;}
        &:after{content: "X"; position: absolute; top: 35%; right: -5%; width: 50px; height: 50px; line-height: 50px; font-size: 65px; color: $HNgreen; background: #fff; text-align: center;}
        &:hover:before, &:focus:before, &:hover:after, &:focus:after{opacity: 1;}
    }
}

/* design */
#content.design_cnt{
    width: 100%; height: 500vh; overflow: hidden;
    .design_blur_box{
        @include transform(scale(1.5));
        @include transition(transform 0.5s);
        position: fixed; top: 0; left: 5%; width: 90%; height: 90%; border: 3px solid $HNgrey; background: $HNblack; opacity: 0.85;
        &.action{@include transform(scale(1));}
    }
    .design_cnt1{
        position: relative; width: 100%; height: 100vh;
        video{position: fixed; top: 0; left: 0; width: 100%; height: auto; z-index: -1;}
        h1{
            @include transform(scale(0));
            @include transition(transform 1s);
            position: absolute; top: 20%; left: 23%; width: 50%; height: auto;
            &.action{@include transform(scale(1));}
            &:before, &:after{
                @include transition(all 0.5s);
                opacity: 0; z-index: 1500;
            }
            &:before{content: "AWESOME DESIGN & AMAZING IDEAS"; position: absolute; top: 60%; left: 10%; padding-left: 20px; width: 530px; height: 140px; font-size: 70px; line-height: 70px; background: #000;}
            &:after{content: "X"; position: absolute; top: 55%; right: 29%; width: 50px; height: 50px; line-height: 50px; font-size: 65px; color: $HNgreen; background: #fff; text-align: center;}
            &:hover:before, &:focus:before, &:hover:after, &:focus:after{opacity: 1;}
        }
    }
    .design_cnt2{
        width: 100%; height: 100vh; position: relative;
        .cnt_bg{
            @include blur(5px);
            background: url(../images/design/MF_bg.jpg) no-repeat center; z-index: -1;
        }
        h2{
            @include transition(all 1s);
            position: absolute; top: 15%; left: 18%; font-size: 30px; opacity: 0; margin-top: 200px;
            &.move{margin-top: 0; opacity: 1;}
        }
        .swiper-container{
            top: 22%; left: 15%;
            a{
                @include transition(all 1s);
                position: absolute; background: $HNblack; width: 460px; height: 40px; line-height: 40px; font-size: 18px; text-align: center; top: 760px; left: 850px; z-index: 120;
                &:hover, &:focus{background: #ff7d0f;}
            }
        }
    }
    .design_cnt3{
        width: 100%; height: 100vh; position: relative;
        .cnt_bg{
            @include blur(5px);
            background: url(../images/design/GC_bg.jpg) no-repeat center; z-index: -1;
        }
        h2{
            @include transition(all 1s);
            position: absolute; top: 13%; left: 13%; font-size: 30px; opacity: 0; margin-top: 200px;
            &.move{margin-top: 0; opacity: 1;}
        }
        .swiper-container{
            top: 20%; left: 10%;
            a{
                @include transition(all 1s);
                position: absolute; background: $HNblack; width: 460px; height: 40px; line-height: 40px; font-size: 18px; text-align: center; top: 760px; left: 850px; z-index: 120;
                &:hover, &:focus{background: #ff7d0f;}
            }
        }
    }
    .design_cnt4{
        width: 100%; height: 100vh; position: relative;
        h2{
            @include transition(all 1s);
            position: absolute; top: 15%; left: 40%; font-size: 30px; opacity: 0; margin-top: 200px;
            &.move{margin-top: 0; opacity: 1;}
        }
        .swiper-container{
            top: 20%; left: 35%; width: 900px;
            .swiper-wrapper .swiper-slide{
                text-align: center; line-height: 50px;
                figure{margin-left: 65px;}
                strong{position: absolute; width: 230px; height: 50px; font-size: 25px; bottom: 10%; right: 2%; background: $HNblack; border: 3px solid #fff; font-weight: 400;}
                a{
                    @include transition(all 1s);
                    position: absolute; top: 10%; left: 5%; width: 200px; height: 50px; background: $HNblack; border: 3px solid #fff;
                    &:hover, &:focus{background: #ff7d0f;}
                }
            }
            .swiper-button-prev{top: 45%; left: 50px;}
            .swiper-button-next{top: 45%; left: 850px;}
        }
        .cnt_bg{
            z-index: -1;
            .slide{
                position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: none; background: no-repeat center;
                &:nth-child(1){background-image: url(../images/design/orbit_bg.jpg); display: block;}
                &:nth-child(2){background-image: url(../images/design/KY_bg.jpg);}
                &:nth-child(3){background-image: url(../images/design/font_bg.jpg);}
                &:nth-child(4){background-image: url(../images/design/kongster_bg.jpg);}
                @include bgSize(cover);
                @include blur(5px);
            }
        }
    }
    .design_cnt5{
        width: 100%; height: 100vh; position: relative;
        .cnt_bg{height: auto; z-index: -1;}
        h2{
            @include transition(all 1s);
            position: absolute; top: 10%; left: 25%; font-size: 30px; opacity: 0; margin-top: 200px;
            &.move{margin-top: 0; opacity: 1;}
        }
        .imunmaps{
            @include transition(all 1s);
            position: absolute; top: 18%; left: 25%; width: 50%; height: auto; opacity: 0; margin-top: 200px;
            &.move{margin-top: 0; opacity: 1;}
        }
    }
    .swiper-container{
        @include transition(all 1s);
        position: absolute; width: 100%; height: 800px; opacity: 0; margin-top: 200px;
        &.move{margin-top: 0; opacity: 1;}
        .swiper-wrapper{
            .swiper-slide{
                position: relative;
                figure{width: 800px; height: 800px; margin-left: 50px;}
                p{position: absolute; top: 20px; left: 850px; width: 400px; height: 800px; color: $HNblack; background: $HNgrey; font-size: 15px; line-height: 2.2; z-index: -1; padding: 30px;}
            }
        }
        .swiper-button-prev{position: absolute; top: 690px; left: 900px; width: 50px; height: 50px;}
        .swiper-button-next{position: absolute; top: 690px; left: 1230px; width: 50px; height: 50px;}
        .swiper-button-prev::after, .swiper-button-next::after{display: block; opacity: 0;}
    }
    .cnt_bg{display: none; width: 110%; height: 110vh; position: fixed; top: -5%; left: -5%;}
}

/* web */
#content.web_cnt{
    width: 100%; height: 300vh; overflow: hidden;
    video{position: fixed; top: 0; left: 0; width: 100%; height: auto; z-index: -1;}
    .web_blur_box{
        @include transform(translateY(-300px));
        @include transition(transform 0.5s);
        position: fixed; top: 0; right: -5%; width: 90%; height: 100%; border: 3px solid $HNgrey; background: $HNblack; opacity: 0.85;
        &.action{@include transform(translateY(0));}
    }
    .web_cnt1{
        width: 100%; height: 100vh;
        h1{
            @include transform(translateY(-300px));
            @include transition(transform 1s);
            position: absolute; top: 20%; left: 20%; width: 50%; height: auto;
            &.action{@include transform(translateY(0));}
            &:before, &:after{
                @include transition(all 0.5s);
                opacity: 0; z-index: 1500;
            }
            &:before{content: "BEAUTIFUL AND CONVENIENT WEB"; position: absolute; top: 50%; left: 10%; padding-left: 20px; width: 560px; height: 140px; font-size: 70px; line-height: 70px; background: #000;}
            &:after{content: "X"; position: absolute; top: 45%; right: 30%; width: 50px; height: 50px; line-height: 50px; font-size: 65px; color: $HNgreen; background: #fff; text-align: center;}
            &:hover:before, &:focus:before, &:hover:after, &:focus:after{opacity: 1;}
        }
    }
    .web_cnt2{
        position: relative; width: 100%; height: 100vh;
        video{
            position: fixed; top: 0; left: 0; width: 100%; height: auto; z-index: -1; display: none;
        }
        h2{
            @include transform(rotate(270deg));
            @include transition(all 1s);
            position: absolute; top: 59%; left: 8%; font-size: 30px; margin-top: 200px; opacity: 0;
            &.move{margin-top: 0; opacity: 1;}
        } /* writing-mode : vertical-rl; */
        .web_tab{
            @include transition(all 1s);
            position: absolute; top: 13%; left: 12%; width: 80%; height: 70%; opacity: 0; margin-top: 200px;
            &.move{margin-top: 0; opacity: 1;}
            .tablist{
                position: absolute; top: 0; left: 0; width: 150px; height: 148px; background: #000; text-align: center; line-height: 50px; z-index: 100;
                li{
                    @include borderBox;
                    width: 100%; height: 50px; border: 2px solid #fff; cursor: pointer;
                }
                li + li{margin-top: -1px;}
                li.tab_on{background: #fff; color: #000;}
            }
            .tabpanel_box{position: absolute; top: 0; left: 130px; width: 1300px; height: 700px; border: 3px solid #fff;}
            .tabpanel{
                position: absolute; display: none; top: 0; left: 0; height: 100%; width: 100%; background: $HNgrey;
                iframe{width: 100%; height: 100%;}
                &.tab_on{display: block;}
            }
        }
    }
    .web_cnt3{
        position: relative; width: 100%; height: 100vh;
        video{
            position: fixed; top: 0; left: 0; width: 100%; height: auto; z-index: -1; display: none;
        }
        h2{
            @include transform(rotate(270deg));
            @include transition(all 1s);
            position: absolute; top: 60%; left: 14%; font-size: 30px; margin-top: 200px; opacity: 0;
            &.move{margin-top: 0; opacity: 1;}
        } /* writing-mode : vertical-rl; */
        .web_tab{
            @include transition(all 1s);
            position: absolute; top: 13%; right: 3%; width: 80%; height: 70%; opacity: 0; margin-top: 200px;
            &.move{margin-top: 0; opacity: 1;}
            .tablist{
                position: absolute; top: 0; left: 0; width: 150px; height: 148px; background: #000; text-align: center; line-height: 50px; z-index: 100;
                li{
                    @include borderBox;
                    width: 100%; height: 50px; border: 2px solid #fff; cursor: pointer;
                }
                li + li{margin-top: -1px;}
                li.tab_on{background: #fff; color: #000;}
            }
            .tabpanel_box{position: absolute; top: 0; left: 130px; width: 1300px; height: 700px; border: 3px solid #fff;}
            .tabpanel{
                position: absolute; display: none; top: 0; left: 0; height: 100%; width: 100%; background: $HNgrey;
                iframe{width: 100%; height: 100%;}
                &.tab_on{display: block;}
            }
        }
    }
}

@include keyframes(typing) {
    from {width: 0; opacity: 1;}
    to {opacity: 1;}
}
@include keyframes(blink-caret) {
    0% {border-color: transparent;}
    50% {border-color: #fff;}
    100% {border-color: transparent;}
}
@include keyframes(wave) {
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}

}
@include keyframes(wave2) {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}

}
@include keyframes(graph100) {
    0%{height: 0;}
    100%{height: 100%;}
}
@include keyframes(graph90) {
    0%{height: 0;}
    100%{height: 90%;}
}
@include keyframes(graph70) {
    0%{height: 0;}
    100%{height: 70%;}
}

@media all and (max-width: 1260px) {
    body{font-size: 16px;}
}